body {
  text-align:center;
}

#container {
  width:96%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

.terminal {
  padding:0px;
}

#term {
  width:49%;
  height:200px;
  float:left;
}

#slide {
  width:49%;
  float:right;
}

#screen {
  width:100%;
  height:500px;
}

input[type="button"] {
}
